
.container {
  display: flex;
  grid-template-columns: 250px 1fr 300px; /* sidebar | content | right */
  height: 100vh;
}

/* CENTER */
.center {
  padding: 40px;
  display: flex;
  justify-content: center; /* 🔥 ортасына */
  align-items: flex-start;
  overflow-y: auto;
}

/* RIGHT PANEL */
app-right-panel {
  width: 70px;
  background: url('/assets/fon.jpg') no-repeat;
  padding: 150px;
}


:host {
  display: block;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.container {
  display: flex;
  min-height: 100vh;
  background: url('/assets/fon.jpg') no-repeat;
}
