.layout {
  display: flex;
  height: 100vh;
}

app-sidebar {
  width: 250px;
  background: #1e1e2f;
}

.content {
  flex: 1;
  padding: 20px;
}

app-right-panel {
  width: 250px;
  background: #2a2a40;
}
