:host {
  display: block;
  max-width: 1100px;
  margin: auto;
  margin-top: 25px;
  font-family: Nunito;
}

.fc-toolbar-title {
  font-size: 28px;
  font-weight: bold;
  color: #4f46e5;
}

.fc-button {
  background-color: #4f46e5 !important;
  border: none !important;
  border-radius: 6px !important;
  padding: 6px 12px !important;
}

.fc-button:hover {
  background-color: #4338ca !important;
}

/* TODAY BUTTON */
.fc-button-primary {
  background-color: #6366f1 !important;
}

/* CALENDAR GRID */
.fc-daygrid-day {
  transition: background 0.2s;
}

.fc-daygrid-day:hover {
  background-color: #ce8483;
}


.fc-day-today {
  background-color: #e4b9b9 !important;
}

.fc-event {
  background-color: #22c55e !important;
  border: none !important;
  border-radius: 6px !important;
  padding: 3px 6px;
  font-size: 13px;
  font-weight: 500;
}

.fc-event:hover {
  background-color: #16a34a !important;
}

.fc-theme-standard td,
.fc-theme-standard th {
  border: 1px solid #e5e7eb;
}

.fc-daygrid-day-number {
  font-weight: 500;
  color: #c7254e;
}
