<button (click)="logout()">Logout</button>

<a routerLink="/dashboard/todo">Todo</a>
<a routerLink="/dashboard/notes">Notes</a>
<a routerLink="/dashboard/calendar">Calendar</a>
<a routerLink="/dashboard/music">Music</a>

    <h3>Select background</h3>

    <div class="bg-grid">
      <div *ngFor="let bg of backgrounds"
           (click)="selectTemp(bg.url)"
           class="bg-item"
           [class.active]="tempSelectedBgUrl === bg.url">

        <img [src]="bg.url" [alt]="bg.name">
        <span class="bg-name">{{bg.name}}</span>
      </div>
    </div>

    <div class="modal-buttons">
      <button class="btn-reset" (click)="resetBg()">By default</button>
      <div class="main-actions">
        <button (click)="cancel()" class="btn-cancel">Cancel</button>
        <button (click)="applyBg()" class="btn-ok">OK</button>
      </div>
    </div>

  </div>
</div>
</nav>
