:host {
  margin: 0;
  height: 100vh;
  background: url('/assets/fon.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  font-family: 'Montserrat', sans-serif;
  width: 70px;
  padding: 150px;
}

