<div class="wrapper">
  <h1>Register</h1>

  <div class="input-box">
    <input type="text" placeholder="Username" [(ngModel)]="username">
    <i class='bx bxs-user'></i>
  </div>

  <div class="input-box">
    <input type="password" placeholder="Password" [(ngModel)]="password">
    <i class='bx bxs-lock-alt'></i>
  </div>

  <button class="btn" (click)="register()">Register</button>

  <div class="register-link">
    <p>Already have an account? <a routerLink="/login">Login</a></p>
  </div>
</div>
