body{
  font-family: Arial;
  background:#f7f7f7;
  padding:40px;
}

.container{
  max-width:900px;
  margin:auto;
}

.top-buttons{
  display: contents;
  gap:10px;
  justify-content:flex-end;
  margin-bottom:30px;
}

.btn{
  border:none;
  padding:8px 18px;
  border-radius:20px;
  font-weight:600;
  cursor:pointer;
}

.active-btn{
  background:#1abc9c;
  color:white;
}

.closed-btn{
  background:#e74c3c;
  color:white;
}

.add-btn{
  background:#1f3c88;
  color:white;
}

.section-title{
  font-weight:600;
  margin:30px 0 10px;
}

.green{
  color:#1abc9c;
}

.red{
  color:#e74c3c;
}

.table-head{
  display:grid;
  grid-template-columns:100px ;
  color: #946d95;
  margin-bottom:10px;
  padding-left:20px;
}

.task{
  display:grid;
  grid-template-columns:40px 1fr 1fr 1fr auto auto;
  align-items:center;
  background:white;
  border-radius:30px;
  padding:12px 20px;
  margin-bottom:12px;
  box-shadow:0 2px 5px rgba(0,0,0,0.05);
}

.circle input{
  width:18px;
  height:18px;
}

.status{
  padding:4px 12px;
  border-radius:15px;
  font-size:12px;
  font-weight:600;
  text-align:center;
  width:70px;
}

.status.active{
  background:#1abc9c;
  color:white;
}

.status.closed{
  background:#e74c3c;
  color:white;
}

.icons{
  color:#999;
  font-size:16px;
  display:flex;
  gap:10px;
  cursor:pointer;
}
.task-input{
  padding:10px 18px;
  border-radius:20px;
  border:1px solid #ddd;
  font-size:14px;
  outline:none;
  width:220px;
  transition:0.2s;
}

.task-input:focus{
  border-color:#1abc9c;
  box-shadow:0 0 0 3px rgba(26,188,156,0.15);
}

.task-input::placeholder{
  color:#999;
}

