<div class="main-wrapper">
  <header>
    <h1 class="main-logo"> TASK MANAGER </h1>

    <div class="top-controls">
      <input class="task-input" [(ngModel)]="newTask" placeholder="new task...">
      <button class="add-btn" (click)="addTask()">+ add</button>
    </div>
  </header>

  <div class="container">

    <div class="section-header active-bg">active</div>

    <div class="table-labels">
      <span></span>
      <span>title</span>
      <span>created</span>
      <span>due</span>
      <span>status</span>
      <span></span>
    </div>

    <ng-container *ngFor="let task of tasks">
      <div class="task-row" *ngIf="!task.completed">

        <input type="checkbox"
               [checked]="task.completed"
               (change)="toggle(task)">

        <div class="title">{{task.title}}</div>

        <div>{{task.created_at | date:'dd-MM-yyyy'}}</div>

        <div>-</div>

        <div>
          <span class="badge badge-active">active</span>
        </div>

        <span class="del-btn" (click)="deleteTask(task)">🗑</span>

      </div>
    </ng-container>


    <div class="section-header closed-bg">closed</div>

    <ng-container *ngFor="let task of tasks">
      <div class="task-row" *ngIf="task.completed">

        <input type="checkbox"
               [checked]="task.completed"
               (change)="toggle(task)">

        <div class="title">{{task.title}}</div>

        <div>{{task.created_at | date:'dd-MM-yyyy'}}</div>

        <div>{{task.completed_at | date:'dd-MM-yyyy'}}</div>

        <div>
          <span class="badge badge-closed">closed</span>
        </div>

        <span class="del-btn" (click)="deleteTask(task)">🗑</span>

      </div>
    </ng-container>

  </div>
</div>
