<div class="container">

  <div class="top-buttons">
        <input [(ngModel)]="newTask" placeholder="new task">
    <button class="btn add-btn" (click)="addTask()">+ add</button>
  </div>

  <h3 class="section-title green">active</h3>
  <ng-container *ngFor="let task of tasks">
    <div class="task" *ngIf="!task.completed">
      <div class="circle">
        <input type="checkbox"
               [checked]="task.completed"
               (change)="toggle(task)">
      </div>
      <div>{{task.title}}</div>
      <div>{{task.created_at | date:'yyyy-MM-dd'}}</div>
      <div>-</div>
      <div class="status active">
        active
      </div>

      <div class="icons">
        <span (click)="deleteTask(task)">🗑</span>
      </div>

    </div>

  </ng-container>

  <h3 class="section-title red">closed</h3>


  <ng-container *ngFor="let task of tasks">

    <div class="task" *ngIf="task.completed">

      <div class="circle">
        <input type="checkbox"
               [checked]="task.completed"
               (change)="toggle(task)">
      </div>

      <div>{{task.title}}</div>
      <div>{{task.created_at | date:'yyyy-MM-dd'}}</div>
      <div>{{task.completed_at | date:'yyyy-MM-dd'}}</div>
      <div class="status closed">
        closed
      </div>

      <div class="icons">
        <span (click)="deleteTask(task)">🗑</span>
      </div>

    </div>

  </ng-container>

</div>
