<div class="container">

  <h1>Todo Application</h1>

  <div class="form-box">

    <input
      type="text"
      placeholder="Todo Title"
      [(ngModel)]="newTask"
    >

    <button (click)="addTask()">
      Create Todo
    </button>

  </div>


  <table class="todo-table">

    <thead>
    <tr>

      <th></th>
      <th>Name</th>
      <th>Status</th>
      <th>Action</th>

    </tr>
    </thead>

    <tbody>

    <tr *ngFor="let task of tasks">

      <td>

        <input
          type="checkbox"
          [checked]="task.completed"
          (change)="toggleTask(task)"
        >

      </td>

      <td>
        {{task.title}}
      </td>

      <td>

<span *ngIf="task.completed" class="completed">
Completed
</span>

        <span *ngIf="!task.completed" class="pending">
Pending
</span>

      </td>

      <td>

        <button
          class="delete"
          (click)="deleteTask(task.id)"
        >
          Delete
        </button>

      </td>

    </tr>

    </tbody>

  </table>

</div>
