@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

body {
  margin: 0;
  height: 100vh;
  background: url('/frontend/src/assets/fon.jpg') no-repeat;
  background-size: cover;
  background-position: center;
}

:root{
  --bg-color: #ffffff;
  --text-color: #333333;
  --panel-bg: #f4f4f4;
  --accent-color: #007bff;
}

.dark-theme {
  --bg-color: #121212;
  --text-color: #e0e0e0;
  --panel-bg: #1e1e1e;
  --accent-color: #bb86fc;
}

body {
  height: 100%;
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: all 0.3s ease;
}

.main-layout{
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-position: center;
  transition: background-image 0.5s ease-in-out;
}
